<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jm.swcz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_ship"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jm.swcz.ui.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity 
            android:name="com.jm.swcz.ui.MainActivity"
            android:windowSoftInputMode="adjustNothing"/>
        
        <activity android:name="com.jm.swcz.ui.RegisterActivity"></activity>
        <activity android:name="com.jm.swcz.ui.activity.DeptActivity"></activity>
        <activity android:name="com.jm.swcz.ui.activity.DeptDetailActivity"></activity>
        <activity android:name="com.jm.swcz.ui.activity.MaterialTypeActivity"></activity>
        <activity android:name="com.jm.swcz.ui.activity.MaterialTypeDetailActivity"></activity>
        
    </application>

</manifest>
